.eslintcache
.eslintignore
.eslintrc.json
.gitattributes
.github/**
.gitignore
.markdownlint.json
.prettierignore
.prettierrc
.vscode-test/**
.vscode-test-web/**
.vscode/**
**/*.map
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
CHANGELOG.md
images/**/[^logo]*
out/test/**
package-lock.json
samplenc/**
scripts/**
src/**
test/**
out/**
node_modules/**
tsconfig**
tsconfig.tsbuildinfo
webpack.config*.js
.DS_Store