.github/**
.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
.gitattributes
tsconfig.json
package-lock.json
vsc-extension-quickstart.md
images/*.ai
images/*.svg
LICENSE
CONTRIBUTING.md
CODE_OF_CONDUCT.md
node_modules/**
.eslintignore
.eslintcache
webpack.config.js