.eslintcache
.eslintignore
.eslintrc.json
.gitattributes
.github/**
.gitignore
.prettierignore
.prettierrc
.vscode-test/**
.vscode/**
**/*.map
CODE_OF_CONDUCT.md
CONTRIBUTING.md
images/*.ai
images/*.svg
LICENSE
node_modules/**
out/test/**
package-lock.json
samplenc/**
src/**
test/**
tsconfig.json
tsconfig.tsbuildinfo
webpack.config.js