<%= require('html-loader?{"esModule":false}!../shared/partials/head.html') %>

<body class="preload">

    <div class="container">

        <vscode-panels aria-label="with Complex Content">
            <vscode-panel-tab id="tab-1">SPEEDS</vscode-panel-tab>
            <vscode-panel-tab id="tab-2">FEEDS</vscode-panel-tab>
            <vscode-panel-tab id="tab-3">MRR</vscode-panel-tab>

            <vscode-panel-view id="view-1">
                <section class="row">
                    <section id="rpm" class="calculator">
                        <h3>RPM</h3>
                        <vscode-divider role="separator"></vscode-divider>
                        <vscode-text-field id="rpm-speed" placeholder="Enter Speed" size="6">Cutting Speed</vscode-text-field>
                        <vscode-text-field id="rpm-tool-dia" placeholder="Enter Tool Dia" size="6">Tool Diameter</vscode-text-field>
                        <label class="results">RPM</label><span id="rpm-results" class="results"></span>
                        <vscode-button id="rpm-calc-btn">Calculate</vscode-button>
                    </section>
                    <section id="Cutting Speed" class="calculator">
                        <h3>Cutting Speed</h3>
                        <vscode-divider role="separator"></vscode-divider>
                        <vscode-text-field id="speed-rpm" placeholder="Enter RPM" size="6">RPM</vscode-text-field>
                        <vscode-text-field id="speed-tool-dia" placeholder="Enter Tool Dia" size="6">Tool Diameter</vscode-text-field>
                        <label class="results">Cutting Speed</label><span id="speed-results" class="results"></span>
                        <vscode-button id="speed-calc-btn">Calculate</vscode-button>
                    </section>
                </section>
                <section class="row">
                    <span class="clear-btn">
                        <vscode-button id="view-1-clear">Clear Fields</vscode-button>
                    </span>
                </section>
                <section class="row">
                    <span class="units"><a href="#">Units: </a></span>
                </section>
            </vscode-panel-view>
            <vscode-panel-view id="view-2">
                <section class="row">
                    <section id="feedrate" class="calculator">
                        <h3>Feedrate</h3>
                        <vscode-divider role="separator"></vscode-divider>
                        <vscode-text-field id="fr-rpm" placeholder="Enter RPM" size="6">RPM</vscode-text-field>
                        <vscode-text-field id="fr-num-flutes" placeholder="Enter # Flutes" size="6"># of Flutes</vscode-text-field>
                        <vscode-text-field id="fr-chip-load" placeholder="Enter FPT" size="6">Feed / Tooth</vscode-text-field>
                        <label class="results">Feedrate</label><span id="fr-results" class="results"></span>
                        <vscode-button id="fr-calc-btn">Calculate</vscode-button>
                    </section>
                    <section id="chip-load" class="calculator">
                        <h3>Chip Load</h3>
                        <vscode-divider role="separator"></vscode-divider>
                        <vscode-text-field id="cl-feedrate" placeholder="Enter Feedrate" size="6">Feedrate</vscode-text-field>
                        <vscode-text-field id="cl-rpm" placeholder="Enter RPM" size="6">RPM</vscode-text-field>
                        <vscode-text-field id="cl-num-flutes" placeholder="Enter # Flutes" size="6"># of Flutes</vscode-text-field>
                        <label class="results">Chip Load</label><span id="cl-results" class="results"></span>
                        <vscode-button id="cl-calc-btn">Calculate</vscode-button>
                    </section>
                </section>
                <section class="row">
                    <span class="clear-btn">
                        <vscode-button id="view-2-clear">Clear Fields</vscode-button>
                    </span>
                </section>
                <section class="row">
                    <span class="units"></span>
                </section>
            </vscode-panel-view>
            <vscode-panel-view id="view-3">
                <section class="row">
                    <section id="mrr" class="calculator">
                        <h3>Metal Removal</h3>
                        <vscode-divider role="separator"></vscode-divider>
                        <vscode-text-field id="mrr-ap" placeholder="Axial DoC" size="6">A<sub>p</sub> - Axial DoC</vscode-text-field>
                        <vscode-text-field id="mrr-ae" placeholder="Radial DoC" size="6">A<sub>e</sub> - Radial DoC</vscode-text-field>
                        <vscode-text-field id="mrr-fr" placeholder="Enter Feedrate" size="6">Feedrate</vscode-text-field>
                        <label class="results">Metal Removal</label><span id="mrr-results" class="results"></span>
                        <vscode-button id="mrr-calc-btn">Calculate</vscode-button>
                    </section>
                    <section id="finish" class="calculator">
                        <h3>Surface Finish</h3>
                        <vscode-divider role="separator"></vscode-divider>
                        <vscode-text-field id="finish-radius" placeholder="Enter Radius" size="6">Corner Radius</vscode-text-field>
                        <vscode-text-field id="finish-feedrate" placeholder="Enter Feedrate" size="6">Feedrate</vscode-text-field>
                        <vscode-text-field class="hidden" size="6" disabled>Hidden</vscode-text-field>
                        <label class="results">Surface Finish</label><span id="finish-results" class="results"></span>
                        <vscode-button id="finish-btn">Calculate</vscode-button>
                    </section>
                </section>
                <section class="row">
                    <span class="clear-btn">
                        <vscode-button id="view-3-clear">Clear Fields</vscode-button>
                    </span>
                </section>
                <section class="row">
                    <span class="units"><a href="#">Units: </a></span>
                </section>
            </vscode-panel-view>
        </vscode-panels>
    </div>
    {bootstrap}
</body>

<%= require('html-loader?{"esModule":false}!../shared/partials/tail.html') %>