<%= require('html-loader?{"esModule":false}!../shared/partials/head.html') %>

<body class="preload">

    <div class="container">

        <vscode-panels aria-label="with Complex Content">
            <vscode-panel-tab id="tab-1">SPEEDS</vscode-panel-tab>
            <vscode-panel-tab id="tab-2">FEEDS</vscode-panel-tab>
            <vscode-panel-tab id="tab-3">MRR</vscode-panel-tab>

            <vscode-panel-view id="view-1">
                <section class="row">
                    <section id="rpm" class="calculator">
                        <h3>RPM</h3>
                        <vscode-divider role="separator"></vscode-divider>
                        <vscode-text-field id="rpm-sfm" placeholder="Enter SFM" size="6">SFM</vscode-text-field>
                        <vscode-text-field id="rpm-tool-dia" placeholder="Enter Tool Dia" size="6">Tool Diameter</vscode-text-field>
                        <label class="results">RPM</label><span id="rpm-results" class="results"></span>
                        <vscode-button id="rpm-calc-btn">Calculate</vscode-button>
                    </section>
                    <section id="sfm" class="calculator">
                        <h3>SFM</h3>
                        <vscode-divider role="separator"></vscode-divider>
                        <vscode-text-field id="sfm-rpm" placeholder="Enter SFM" size="6">RPM</vscode-text-field>
                        <vscode-text-field id="sfm-tool-dia" placeholder="Enter Tool Dia" size="6">Tool Diameter</vscode-text-field>
                        <label class="results">SFM</label><span id="sfm-results" class="results"></span>
                        <vscode-button id="sfm-calc-btn">Calculate</vscode-button>
                    </section>
                </section>
                <section class="row">
                    <span class="clear-btn">
                        <vscode-button id="view-1-clear">Clear Fields</vscode-button>
                    </span>
                </section>
                <section class="row">
                    <span class="units"><a href="#">Units: </a></span>
                </section>
            </vscode-panel-view>
            <vscode-panel-view id="view-2">
                <section class="row">
                    <section id="feedrate" class="calculator">
                        <h3>Feedrate</h3>
                        <vscode-divider role="separator"></vscode-divider>
                        <vscode-text-field id="fr-rpm" placeholder="Enter RPM" size="6">RPM</vscode-text-field>
                        <vscode-text-field id="fr-num-flutes" placeholder="Enter # Flutes" size="6"># of Flutes</vscode-text-field>
                        <vscode-text-field id="fr-chip-load" placeholder="Enter IPT" size="6">Load / Tooth</vscode-text-field>
                        <label class="results">Feedrate</label><span id="fr-results" class="results"></span>
                        <vscode-button id="fr-calc-btn">Calculate</vscode-button>
                    </section>
                    <section id="chip-load" class="calculator">
                        <h3>Chip Load</h3>
                        <vscode-divider role="separator"></vscode-divider>
                        <vscode-text-field id="cl-ipm" placeholder="Enter IPM" size="6">IPM</vscode-text-field>
                        <vscode-text-field id="cl-rpm" placeholder="Enter RPM" size="6">RPM</vscode-text-field>
                        <vscode-text-field id="cl-num-flutes" placeholder="Enter # Flutes" size="6"># of Flutes</vscode-text-field>
                        <label class="results">Chip Load</label><span id="cl-results" class="results"></span>
                        <vscode-button id="cl-calc-btn">Calculate</vscode-button>
                    </section>
                </section>
                <section class="row">
                    <span class="clear-btn">
                        <vscode-button id="view-2-clear">Clear Fields</vscode-button>
                    </span>
                </section>
                <section class="row">
                    <span class="units"></span>
                </section>
            </vscode-panel-view>
            <vscode-panel-view id="view-3">
                <section class="row">
                    <section id="mrr" class="calculator">                        
                        <vscode-text-field id="mrr-ap" placeholder="Axial Depth of Cut" size="15">A<sub>p</sub> - Axial Depth of Cut</vscode-text-field>
                        <vscode-text-field id="mrr-ae" placeholder="Radial Depth of Cut" size="15">A<sub>e</sub> - Radial Depth of Cut</vscode-text-field>
                        <vscode-text-field id="mrr-fr" placeholder="Feedrate" size="15">Feedrate</vscode-text-field>
                        <label class="results">Metal Removal Rate</label><span id="mrr-results" class="results"></span>
                        <vscode-button id="mrr-calc-btn">Calculate</vscode-button>
                    </section>
                </section>
            </vscode-panel-view>
        </vscode-panels>
    </div>
    {bootstrap}
</body>

<%= require('html-loader?{"esModule":false}!../shared/partials/tail.html') %>